:root {
    --outer-border-color:  #F5F9E9;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 100%;
    background: #F5F9E9;
    font-family: monospace;
    color: #F5F9E9;
}



#displayContainer {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

#display, #historyDisplay{
    display: flex;
    font-size: 170%;
    font-weight: bolder;
    padding: 12px;
    width: 50%;
    margin: 0 auto 0 auto;
    border-left: 1px solid var(--outer-border-color);
    border-right: 1px solid var(--outer-border-color);
    background-color: #0D1321;
    color:  #F5F9E9;
}

#historyDisplay {
    text-align: right;
    color:  rgba(245, 249, 233, 0.5);
    border-bottom: none;
    border-top: 1px solid var(--outer-border-color);
    font-size: 120%;
}

#display {
    border-top: none;
    border-bottom: none;
}


#btnsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4,4em);
    grid-template-rows: repeat(5,4em);
    row-gap: 0.7em;
    column-gap: 0.7em;

}

button {
    font-size: 120%;
    padding: 0.5%;
}

button:focus{
    outline: none;
}

.equal {
    grid-row: span 2;
}

.zero {
    grid-column: span 2;
}


