html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 100%;
}

#displayContainer {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

#display #historyDisplay{
    display: flex;
    width: 100%;
    padding: 12px;
    border: 0px
}

#historyDisplay {
    text-align: right;
    opacity: 0.5;
}

input {
    page-break-after: always;
}

#btnsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4,4em);
    grid-template-rows: repeat(5,4em);
    row-gap: 0.7em;
    column-gap: 0.7em;

}

button {
    font-size: 100%;
    padding: 0.5%;

}

.equal {
    grid-row: span 2;
}

.zero {
    grid-column: span 2;
}


